<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pvs.personalvalues.mapper.ComparisonMapper">

    <select id="GetAllDataByUserData" parameterType="com.pvs.personalvalues.model.UserData" resultType="com.pvs.personalvalues.model.UserData">
        select *
        from UserData
    </select>
    <select id="GetMeanUserDataByUserData" parameterType="com.pvs.personalvalues.model.UserData" resultType="com.pvs.personalvalues.model.MeanUserData">
        select *
        from Statistics
        where #{country} = country or #{age} = age or #{party} = party or gender = #{gender}
    </select>
    <update id="UpdateStatisticsByMeanUserData" parameterType="com.pvs.personalvalues.model.MeanUserData">
        update Statistics set
        sd = #{sd}, pow = #{pow}, uni = #{uni}, ach = #{ach}, sec = #{sec}, stim = #{stim},
        con = #{con}, trad = #{trad}, hed = #{hed}, ben = #{ben}, count = #{count}
        where #{country} = country or #{gender} = gender or #{age} = age or #{party} = party
    </update>
</mapper>